@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.bebas-font {
  font-family: "Bebas Neue", sans-serif;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* share style */
.main-width {
  max-width: 80%;
}
.margin {
  margin: 0 auto;
}
.primary-p {
  color: #3e3e3e;
}
.btn-primary {
  background-image: linear-gradient(#f46060, #ff8063);
  color: #ffff;
  border: none;
  border-radius: 6px;
  padding: 18px 55px;
  cursor: pointer;
  font-weight: 500;
}
.bg-primary {
  background-color: #e5e5e5;
}
/* heder and nav style */
header {
  margin: 0 auto;
}

nav ul {
  margin-top: 40px;
  gap: 40px;
  justify-content: end;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #3c3c3c;
  font-weight: 500;
}

/* banner styles */
.banner-container {
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.display-flex {
  display: flex;
}
.banner-title {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 5px;
}
.banner-span1 {
  color: #363958;
}
.banner-span2 {
  color: #ff8367;
}

.banner-description {
  padding-top: 18px;
  padding-bottom: 36px;
}

.banner-img-div,
.about-img-div {
  width: 50%;
  margin-top: 50px;
}
.banner-img,
.about-img {
  width: 100%;
}
/* about styles */
.about-container {
  justify-content: space-between;
  align-items: center;
}
.about-title {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.about-description {
  max-width: 450px;
  padding: 27px 0;
  line-height: 24px;
}
.dload-icon {
  padding-right: 11px;
  font-size: 1.25rem;
}

.about-img-div {
  width: 48%;
}
.about-img {
  width: 100%;
}
/* Projects styles */
.project-container {
  background-color: #f7f8f8;
  margin-top: 50px;
  /* filter: drop-shadow(0 6mm -2mm #7d8080); */
}
.project-title {
  padding-top: 125px;
  padding-bottom: 90px;
  text-align: center;
  font-weight: 700;
  /* letter-spacing: 1px; */
  font-size: 3rem;
}
#latest {
  color: #f46060;
}
.card-container {
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
  gap: 2.87rem;
  padding-bottom: 187px;
  /* filter: drop-shadow(0 0 0 #000000); */
}
.card {
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.07);
  max-width: 370px;
}
.card-img {
  width: 100%;
}
.card-title {
  padding-top: 28px;
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 1.5rem;
  color: #363958;
}
.card-description {
  color: #6c6c6c;
  line-height: 28px;
}

/* inquiry styles */
.inquiry-container {
  margin-top: 100px;
  padding-top: 100px;
  max-width: 60%;
  margin: 0 auto;
}
.inquiry-centent {
  position: relative;
}
.inquiry-img {
  width: 100%;
}
.inquiry-h1 {
  position: absolute;
  top: 43%;
  left: 30px;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.671);
}
.inquiry-btn {
  position: absolute;
  top: 43%;
  right: 30px;
}
/* responsive for mobie */
@media screen and (max-width: 576px) {
  nav ul {
    margin: 30px 0;
    gap: 15px;
    justify-content: center;
  }
  .banner-container {
    flex-direction: column;
  }
  .banner-title {
    font-size: 3rem;
  }
  .about-container {
    flex-direction: column-reverse;
  }
  .banner-img-div,
  .about-img-div {
    width: 100%;
    margin: 30px 0;
  }
  .project-title {
    padding-top: 70px;
    padding-bottom: 50px;
    font-size: 2.5rem;
  }
  .card-container {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 50px;
    flex-direction: column;
    letter-spacing: 1px;
  }
  .inquiry-container {
    margin: 20px;
    padding-top: 50px;
    max-width: 100%;
  }
  .btn-primary {
    padding: 8px 10px;
    font-weight: 400;
  }
  .inquiry-h1 {
    position: absolute;
    top: 34%;
    left: 10px;
    font-size: 1.5rem;
  }
  .inquiry-btn {
    position: absolute;
    top: 35%;
    right: 10px;
  }
}
